name: check

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Moon
        uses: moonbit-community/setup-moonbit@main
        with:
          version: stable

      - name: moon version
        run: moon version --all

      - name: moon update
        run: moon update

      - name: moon check
        run: moon check
